*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #7a36e0, #d51ca1, #7b0daa);
    padding: 10px;
}
.header{
    background: #fff;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.header h2{
    color: #891bb8;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.header h2 img{
    width: 25px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3daed;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}
input{
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
    color: #4d066c;
    width: 80%;
}
button{
    border: none;
    outline: none;
    background: #077043;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 13px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 9px;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 11px;
    left: 8px;
}
ul li.checked{
    text-decoration: line-through;
    color: #c9c1e4;
}
ul li.checked::before{
    background-image: url(image/cek.png);
}
ul li span{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #ff0000;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
ul li span:hover{
    background: #f3daed;
}
